/* Defaults */
html {
    background-color: #232323;
    color: #EDEDED;
    font-size: larger;
}

h1 {
    text-align: center;
}

ul {
    font-size: medium;
}

li {
    margin-bottom: 2%;
}

:root {
    --border-radius: 15px;
}



/* Classes */
.top-button {
    background-color: #333333; 
    color: #EDEDED;
    text-align: center;
    display: inline-block;
    font-size: xx-large;
    border: 2px solid black;
    border-radius: 12px;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.top-button:hover {
    background-color: #383838; 
}

.top-button-container {
    display: flex; 
    gap: 8%; 
    justify-content: right; 
    width: 75%;
}

.logo-button {
    background-color: transparent;
    border-color: transparent;
    padding: 1%;
    padding-left: 5%;
}

.logo-button img {
    vertical-align: middle;
    display: inline-block;
    width: 164px; 
    height: 100px;
}

.header {
    width: 100%; 
    display: flex; 
    align-items: center; 
    border-radius: 20px;
    background-color: #191919;
    border-bottom: 5px solid #333333;
}

.play-button {
    background-color: #1e8323; 
    color: #EDEDED;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200%;
    border: 2px solid #EDEDED;
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 30%;
    position: absolute;
    bottom: 5%;
    left: 50%;
}

.play-button:hover {
    background-color: #1a701e; 
}

.body-column {
    padding: 5%;
    padding-top: 0%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.body-row {
    position: relative;
    width: 100%; 
    display: flex; 
    gap: 5%; 
}

.body-row-text-container {
    background-color: #1e1e1e;
    border: 5px solid #333333;
    border-radius: var(--border-radius);
    padding-left: 2%;
    padding-right: 2%;
}

.body-image {
    width: 30%;
    border-radius: var(--border-radius);
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: top;
}

.footer {
    width: 100%; 
    display: flex; 
    align-items: center; 
    border-radius: 20px;
    background-color: #191919;
    border-top: 5px solid #333333; 
    height: 100%; 
    flex-direction: column;
}

.bottom-button-container {
    display: inline-block; 
    text-align: center;
}

.footer-column {
    display: flex;
    flex-direction: column;
    width: 20%; 
    align-items: center;
}

.footer-icon {
    aspect-ratio: 1/1;
    width: 10%;
}

.footer-image {
    width: 75%;
}

.footer-body {
    display: flex; 
    gap: 8%; 
    width: 95%; 
    justify-content: center;
    font-size: 75%; 
    padding: 3%; 
    flex-basis: 100%;
}

.footer-column-title {
    font-size: x-large; 
    padding-bottom: 2%;
}



/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 30px #333333; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #191919; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: black; 
  }